#canvas {
	width:450px;
	height:450px;
    border: 5px solid black;
    margin:auto;
}
#canvast{
	width:270px;
	height:270px;
    border: 5px solid black;
    margin:auto;
}
#puzz7,#puzz1,#puzz2,#puzz3,#puzz4,#puzz5,#puzz6,#puzz8{
	display:none;
}
body{
	background-color:darkcyan;
}
#tileone{
	background-color: rgba(45, 182, 171, 0.89);
    font-size:70px;
     margin:auto;  
     margin-top:10px; 
     text-align:center; 
     color:black; 
     text-shadow:2px 2px rgb(33, 34, 34);
}
#top{
    width:1200px; 
    margin:auto; 
    margin-top:10px; 
    text-align:center;
    
}
header{
    width:1190; height:100px;
     border-left:5px solid rgb(17, 16, 16); 
     padding:5px;
}
header:hover{
    border-left:5px solid rgb(45, 182, 170);
}
#headpart{
  background: #466368;
  background: -webkit-linear-gradient(#648880, #293f50);
  background:    -moz-linear-gradient(#648880, #293f50);
  background:         linear-gradient(#648880, #293f50);
  border-radius:4px;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 15px 20px;
}
#resetbutton{
    cursor: pointer;
    /* text-align:center; */
    background-color:rgba(39, 160, 132, 0.39);
    color:black;
    padding:5px;
    border-radius:4px;
    margin-top:50px;
    color:white;
}
#resetbutton:hover{
    background-color:rgb(29, 114, 94);
}
#forabox{
    padding:10px;
    margin-top:5px;
    font-size:1t0px;
}
@media screen and (max-width:400px){
    #leftpart,#rightpart,#top{
        width:43%;
    }
}
